/* app.css */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
	/* fonts */
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1rem;
	color: #FFF;
	text-shadow: 0px 1px #000;

	/* default background */
	background-image: url("http://wallpapercave.com/wp/6SLzBEY.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: grey;

	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: start;
}

/*.backgroundImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.50s linear;
    opacity: 0;
    z-index: -1;
}

.backgroundImg > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}*/

.Grid {
  display: flex;
}

.Grid-cell {
  flex: 1;
}

/* Top of Page */
header {
	position: fixed;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.weather {
	float: left;
	padding-left: 6px;
}
#unit {
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: .7em;
}
#unit:hover {
    color: blue;
}
.about {
	float: center;
	padding: 6px;
	text-align: center;
	text-shadow: none;
}
.about > img {
	border-radius: 50%;
	float: center;
	border: 3px solid black;
}
.calendar {
	float: right;
	padding: 6px;
}
/* Hover effects*/
.weather:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}
.about > img:hover {
	cursor: pointer;
	border: 3px solid rgb(240,150,16);
}
.calendar:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}

/* Middle Section */
#middle {
	width: 100%;
	position: fixed;
	display: flex;
	margin-left: auto;

    margin-right: auto;
    margin-top: 14em;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
    padding: 0.25em;
    width: 100%;
    justify-content: center;
    text-align: center;
    z-index: -1;

}

.greeting {
	font-size: 3rem;
}
.time {
	font-size: 4rem;
}

/* Bottom of Page */
footer {
	position: fixed;

    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    bottom: 0;

}
.userpref {
	float: left;
    margin-top: 11%;
	padding-left: 10px;
	padding-bottom: 0;
    margin-bottom: 0;
	font-size: 2rem;
}
.quote {
	float: center;
	text-align: center;
	opacity: .86;
	width: 100%;
    height: 100%;
	padding-bottom: 20em;
    z-index: -1;
}
.quote-content {
	font-size: 1em;
	font-weight: 200;
    z-index: -1;
}
.quote-author {
	font-size: .8em;
	font-weight: 200;
}
.todo {
	float: right;
    margin-top: 14%;
	padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}
/* Hover effects*/
.userpref:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
	font-size: 2rem;
}
.todo:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}