/* app.css */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Cormorant', serif;
}

html,
body {
    height: 100%;
}

body {
	/* fonts */
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 1rem;
	color: #FFF7CD;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    overflow:hidden;

	/* default background */
	background-image: url("https://static.pexels.com/photos/353423/pexels-photo-353423.jpeg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: grey;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: start;
}

.Grid {
  display: flex;
  position: relative;
}

.Grid-cell {
  flex: 1;
}

/* Top of Page */
header {
  position: absolute;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}
.weather {
	float: left;
	padding-left: 6px;
    z-index: -1;
}
.unit {
    color: white;
    cursor: pointer;
    font-size: .6em;
    background: transparent;
}
.unit:active {
    color: white;
}
.about {
	float: center;
	padding: 6px;
	text-align: center;
	text-shadow: none;
}
.about > img {
	border-radius: 50%;
	float: center;
	border: 2px solid black;
}
.calendar {
	float: right;
	padding: 6px;
}
/* Hover effects*/
#unit:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}
.unit:hover {
    color: rgb(69,128,168);
}
.about > img:hover {
	cursor: pointer;
	border: 3px solid rgb(240,150,16);
}
.calendar:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}


/* Bottom of Page */
footer {
	position: absolute;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    bottom: 0;
}
.userpref {
	float: left;
    margin-top: 12%;
	padding-left: 10px;
	padding-bottom: 0;
    margin-bottom: 0;
	font-size: 1.4rem;
}
.quote {
	float: center;
	text-align: center;
	width: 100%;
    height: 100%;
	padding-bottom: 20em;
    z-index: -1;
}
.quote-content {
	font-size: 1em;
	font-weight: 200;
    color: white;
}
.quote-author {
	font-size: .8em;
	font-weight: 200;
    color: white;
}
.todobutton {
	float: right;
    margin-top: 14%;
	padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}
/* Hover effects*/
.userpref:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}
.todobutton:hover {
	color: rgb(69,128,168);
	text-shadow: none;
	cursor: pointer;
}
@media (max-device-width: 500px) {
    .userpref {
        margin-top: 23%;
    }
    .todo {
        margin-top: 23%;
    }
    .greeting {
        font-size: 2em;
    }
    .quote {
        font-size: .85em;
    }
}