.bottom-panels, .toppanels {
	width: 100%;
	height: 100%;
}

/* User Pref Panel */
.userprefpanel {
	postition: absolute;
	height: 20em;
	width: 22em;
	float: left;
	padding: 10px;
	margin-left: 10px;
	margin-top: 19%;
	display: none;
	background: #474950;
	color: white;
	resize: vertical;
	overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 36px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Left-side Nav */
.userprefnav {
	cursor: pointer;
	float: left;
	width: 30%;
	padding: 6px;
	font-size: 1.2em;
}
li {
	list-style: none;
	padding-bottom: 5px;
}
li:hover {
	color: blue;
}
/* Right-side Selection */
.showfromnav {
	float: right;
	width: 70%;
	padding: 6px;
}
#userpref-features {
	padding-bottom: 7px;
}
#userpref-theme {
	padding-bottom: 7px;
}
#userpref-quotes {
}

h1 {
	font-size: 1.35rem;
	font-weight: 200;
	text-align: center;
	padding: 2px;
	margin-bottom: 4px;
}
h3 {
	font-size: 1.18rem;
	padding-bottom: 9px;
	font-weight: 400;
	color: grey;
}
.feat {
	font-size: 1rem;
	padding-bottom: 7px;
}
input {
	margin-left: 10px;
}


/* To Do Panel */

.todopanel {
	height: 20em;
	width: 22em;
	float: right;
	padding: 10px;
	margin-right: 10px;
	margin-top: 19%;
	display: none;
	background: #474950;
	color: white;
	resize: vertical;
	overflow-y: scroll;
	postition: absolute;
}

/* About Panel */

.aboutpanel {
	height: 24em;
	width: 28em;
	float: right;
	padding: 10px;
	padding-top: 3.85em;
	margin-left: auto;
  margin-right: auto;
	margin-top: 0;
	display: none;
	background: #474950;
	color: white;
	resize: vertical;
	postition: absolute;
}
.developers, .chingu, .buildto {
	text-align: center;
}
.developers {
	font-size: 1.2em;
	padding: 0;
}
.chingu {
	font-size: .8em;
	padding: 0;
}
.buildto {
	font-size: .7em;
	padding-bottom: 3em;
}
.dev {
	display: inline-block;
	width: 100%;
	padding-bottom: 7px;
}
.devimg {
	float: left;
	margin-left: 25%;
	border-radius: 50%;
	border: 2px solid #fff;
	height: 62px;
	width: 62px;
}
.name, .place, #github {
	float: right;
	width: 50%;
	text-align: left;
}
.name {
	font-size: 1.1em;
}
.place {
	font-size: .85em;
}
#github {
	font-size: 1.3em;
	color: rgb(240,150,16);
}
#github:hover {
	color: rgb(69,128,168);
}

/* Calendar Panel 

.calendarpanel {
	height: 20em;
	width: 22em;
	float: right;
	padding: 10px;
	margin-left: auto;
  margin-right: 10px;
	margin-top: 20px;
	display: none;
	background: rgba(0, 0, 0, .9);
	color: white;
	resize: vertical;
	overflow-y: scroll;
	postition: absolute;
}
*/

@media (max-device-width: 800px) {
	.userprefpanel {
		margin-top: 60%;
		width: 80%;
		height: 50%;
	}
	.todopanel {
		margin-top: 60%;
		width: 80%;
		height: 50%;
	}
	.calendarpanel {
		height: 30em;
		width: 80%;
	}
	.aboutpanel {
		height: 32em;
		width: 80%;
	}
}
@media (max-device-width: 500px) {
	body {
		font: 98%;
	}
	.userprefpanel {
		margin-top: 70%;
	}
	.todopanel {
		margin-top: 70%;
	}
	.calendarpanel {
		height: 22em;
	}
	.aboutpanel {
		height: 22em;
	}
	.userpref {
		margin-top: 15%;
	}
	.todo {
		margin-top: 15%;
	}
}