.todopanel {
	color: whitesmoke;
}
#todoList {
	padding: 0;
	margin: 0;
	color: whitesmoke;
	text-align: left;
}
.taskList {
	/*overflow: scroll;*/
	color: whitesmoke;
}
input {
	color: white;
	font-size: 1.2em;
}

.hidden {

/*For tasks that are completed and chosen to be hidden from view*/
}

.completed {

/*For tasks marked as completed*/

	text-decoration:line-through;

}

.editing {

/*For tasks currently being edited*/
	background-color: whitesmoke;

}

.category-important {

/*For tasks marked as important*/
}

.category-delegated {

/*For tasks delegated to someone else*/
}

.category-now {

/*For tasks to be done now*/
}

.category-later {

/*For tasks to be done later (sometime in the future)*/
}

.task {

	/*color: white;*/

  /*For styling <li> DOM elements as tasks */
}

.task input[type="text"] {

/*  Alters default input look and feel*/
	outline: none;
	background-color: transparent;
	border: none;

}

.task:hover {

  /*Handle task focus highlights*/
}

.newtask {

	outline: none;
	background-color: transparent;
	border: none;
	color: whitesmoke;


}

.fa-trash-o {
	color: red;
	border: none;
	font-size: 1.6em;
}
.fa-trash-o::before{
    background: black;
    border: none;

}