.todopanel {
	color: whitesmoke;
}
#todoList {
	padding: 0;
	margin: 0;
	color: whitesmoke;
	text-align: left;
}
.taskList {
	/*overflow: scroll;*/
	color: whitesmoke;
}
input {
	color: white;
	font-size: 1.2em;
}

.hidden {
/*For tasks that are completed and chosen to be hidden from view*/
display: none;
}

.completed {
/*For tasks marked as completed*/
	text-decoration:line-through;
}
.ui-state-default task {
	display: inline-block;
}
.editing {

/*For tasks currently being edited*/
	background-color: #474950;

}

.category-important {

/*For tasks marked as important*/
}

.category-delegated {

/*For tasks delegated to someone else*/
}

.category-now {

/*For tasks to be done now*/
}

.category-later {

/*For tasks to be done later (sometime in the future)*/
}

.task {

	/*color: white;*/

  /*For styling <li> DOM elements as tasks */
}

.task input[type="text"] {

/*  Alters default input look and feel*/
	outline: none;
	background-color: transparent;
	border: none;

}


.newtask {

	outline: none;
	background-color: #474950;
	border: none;
	color: whitesmoke;


}

i.fa-trash-o {
	color: red;
	font-size: 1.6em;
	background: #474950;

}
i.fa-trash-o::before {
    border: none;
    margin-left: 10px;
    background: #474950;
  }
  .taskDelBtn {
  	background: #474950;
  	margin-left: 10px;
  	border: none;
  }